@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* body {
    width : 100vw;
    height: 100vw;
} */

.userNav_list {
   display: flex;
   font-size: 15px;
   justify-content: center;
   align-items: center;
   margin: 20px;
   padding: 20px;
}
.userNav_list > li > a {
    text-decoration: none;
    color: black;
    line-height: 50px;
	position: relative;
	z-index: 1;
}

.userNav_list > li > a:hover {
	height: 5px;
	bottom: 0;
	z-index: 0;
	background: #51e3d4;
	background-position: absolute;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

.userNav_main {
    display: flex;
    width: 70%;
    justify-content: center;
}
ul {
    display: flex;
	justify-content: flex-start;
    /* width : 80%; */
    font-family: 'Gowun Dodum', sans-serif;
}
.userNav_list li {
    font-size : 20px;
    list-style: none;
    margin : 0 40px;
}
.wrap_outer {
    display : flex;
    justify-content: center;
}
.wrap_out {
    width : 50%;
    /* height: 100vw; */
    display : flex;
    justify-content: center;
   	align-items: flex-start;
}
.wrap_in {
    width : 60%;
}
span {
    display : block;
}
.info_box:focus-within {
    border : 2px solid rgb(128, 141, 206);
}
.info_box input {
    position: absolute;
    left : 10px;
    top : 10%;
    border: 0;
}
.error {
    height : 1.5em;
}
.info_box span {
    position: absolute;
    top : 30%;
    right : 12px;
    color: rgb(200,200,200);
}
.info_box_input {
    width: 70%;
}
.calendar{
    width: 100% !important;
    height: 2.8em !important;;
    border-radius: 10px;
    border : 1px solid rgb(200,200,200);
}

.info_box {
    border-radius: 10px;
    height : 2.8em;
    width : 100%;
    border : 1px solid rgb(200,200,200);
    position: relative;
    cursor: pointer;
}

input:focus {
    outline: none;
}
.calendar:focus{
    border: 2px solid blueviolet;
}
h3 {
    font-family: 'Do Hyeon', sans-serif;
    margin : 5px 5px;
    font-size: 18px;
}
.fa-regular.check{
    color: blueviolet;
}
.fa-regular {
    color: rgb(200,200,200);
}
.info_box> input {
    padding: 10px;
}
.addr_button{
    display : flex;
}
.addr_search_button {
    position: relative;
    width: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.addr_search_button:hover{
    background-color: rgb(229, 223, 236);
}
.info_phone{
    display : flex;
    justify-content: space-between;
    max-width: 100%;
    box-sizing: border-box;
}
.info_phone li{
    width: 30%;
    border-radius: 10px;
    border : 1px solid rgb(200,200,200);
    height : 2.2em;
    position: relative;
}
.info_phone li:focus-within{
    border : 1px solid blueviolet;
}
.info_phone li::before{
    position: absolute;
    top:20%;
    left : -11%;
    content: '-';
}
.info_phone li:first-child::before{
    content:none;
}
li input {
    position: absolute;
    top:20%;
    left:6%;
    width : 80%;
    border: 0;
    cursor: pointer;
}
.info_bnt_submit {
    margin-top : 20px;
    border-radius: 10px;
    height : 2.8em;
    width : 100%;
    border : 1px solid rgb(200,200,200);
    cursor: pointer;
}
.info_bnt_submit.show {
    cursor: pointer;
    background-color: rgb(150,150,150);
}
.ininfo_two {
    display: flex;
    justify-content: space-between;
}
.info_gender{
    flex-grow: 2;
    
}
.info_date {
    flex-grow: 3;
    margin-left: 20px;
}
.info_box.gender{
    position: relative;
}
.info_box>select{
    height: 90%;
    width: 90%;
    position: absolute;
    top:5%;
    left:5%;
    border: 0;
    outline: 0;
}
.addr_search_button>i {
    position: absolute;
    font-size: 15px;
    top:25%;
    left:5%;
}
.info_box.hidden {
    display : none;
}
.name_button {
    display: flex;
}
.name_button>p {
    width: 100px;
    position: relative;
}
.name_button>p>i {
    position: absolute;
    top : 20%;
    left : 10%;
}
.info_phone_last {
    position: relative;
}
.iconPhone {
    position: absolute;
    right: 7%;
    top: 25%;
}